body {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
  background-color: rgba(255, 255, 255, .6);
  background-blend-mode: lighten;
}

button  {
  margin-top: 15px;
  margin-bottom: 15px;
}

button:hover {
  cursor: pointer;
}

.well {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  margin-left: 28%;
  margin-right: 28%;
}

.output {
  display: none;
}

.restart {
  font-size: 18px;
}

.emptyName {
  display: none;
}

h1 {
  font-size: 40px;
  color: darkblue;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2  {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  color: sienna;
  font-weight: bold;
}

h4 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-style: oblique;
}

#q1  {
  display: none;
  margin-top: 80px;
}
#q2 {
  display: none;
  margin-top: 80px;
}
#q3 {
  display: none;
  margin-top: 80px;
}
#q4 {
  display: none;
  margin-top: 80px;
}
#q5 {
  display: none;
  margin-top: 80px;
}

.resultA {
  display: none;
}

.resultB {
  display: none;
}

.resultC {
  display: none;
}

.restart {
  margin-top: 50px;
}
